[user]
    name = Yuichi Hashikawa
    email = yuichi.hashikawa01@g.softbank.co.jp
[core]
    editor = vim
    pager = LESSCHARSET=utf-8 less -cm
    quotepath = false
    autocrlf = input
[merge]
    tool = vimdiff
    conflictstyle = diff3
[diff]
    #algorithm = histogram
    #algorithm = patience
    histogram = true
    #patience = true
[alias]
    ;hist = log --pretty=format:\\\"%h %a%d | %s%d [%an] \\\" --graph --date=short
    hist = log --graph --date=local --stat
    st = status
    co = checkout
    ci = commit
    bra = branch
    sta = stash
    stap = stash pop
    show = show -M
    sh = show --stat
    ls = ls-files
[color]
    ui = auto
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    grep = auto

[push]
    default = matching
[pager]
	branch = false
