[user]
    name = hashikawa
    email = hashikawa.yuuichi@gmail.com
[core]
    editor = vim
    pager = less -cm
    quotepath = false
[merge]
    tool = vimdiff
    conflictstyle = diff3
[diff]
    #algorithm = histogram
    #algorithm = patience
    histogram = true
    #patience = true
[alias]
    ;hist = log --pretty=format:\\\"%h %a%d | %s%d [%an] \\\" --graph --date=short
    hist = log --graph --date=short
    st = status
    co = checkout
    ci = commit
    show = show -M
    sh = show --stat
    ls = ls-files
[color]
    ui = auto
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    grep = auto

[push]
    default = matching
